
hr{
  color: black;
  margin-top: 0;
}

div.home-page{
    background-color: #52b788;
}
/* create post styles */

.form-card{
    display: flex;
    justify-content: center;
  }
  
  .post-main{
    margin-top: 0.5rem;
    padding: 1rem 1.5rem;
    width: 40%;
    background-color: #b7e4c7;
  }

  .post-create{
    padding: 1rem 1.5rem;
    width: 40%;
    background-color: #fff;
  }
  .post-header{
    display: flex;
    gap: 0.5rem;
  }
  
  .post-header > img{
    border-radius: 50%;
  }
  .post-name{
    font-size: 1.8rem;
    color: black;
  }
  
  .post-date{
    color: #6c757d;
  }
  .post-main .postImg{
    width: 100%;
    height: 300px;
  }

  .post-area{
    width: 100%;
    border: none;
    height: 150px;  
    font-size: 1.7rem;
    padding-left: 0.3rem;
    margin-top: 10px;
}
  
  .post-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .post-footer .btn{
    /* color: #59626B !important; */
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 0.3rem 1rem;
    margin: 0 1rem;
    flex-grow: 1;
    text-align: center;
  }
div.post-btn-main{
    display: flex;
    justify-content: center;
    margin-top: 15px; 
}

.post-btn{
    width: 80%;
}

/* all data fetched post */

div.home-all-post{
    border: 1px solid black;
}

div.post-data{
    /* border: 1px solid black; */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 8rem; */
    max-height: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
}
.allpost-footer{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.allpost-footer .allpost-btn{
      /* color: #59626B !important; */
      background-color: #F2F2F2;
      border-radius: 8px;
      padding: 0.7rem 0.8rem;
      text-align: center;
      font-size: 1rem;
}

div.all-post{ 
    color: #000;
    font-size: 1.5rem;
}
.allpost-date{
  color: #6c757d;
}

.likeBtn{
  color: #000;
}
.likeBtn:hover{
  cursor: pointer;;
}


/* Edit & Delete Buttons Styles*/

div.buttons{
    display: flex;
    justify-content: space-evenly;
}

.editBtn,
.deleteBtn{
    width: 25%;
}

.delBtn{
  border: none;
}

/* Search Bar styles */

div.search-bar{
    padding: 0.5rem;
    flex: 7;
}

.searching{
    border: none;
    border-radius: 3px;
    padding: 0.3rem;
    width: 100%;
}

.searching:focus{
    border: 2px solid red;
}


/* edit post styles */

.edit-form-card{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  
}

div.edit-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  background-color: #b7e4c7;
  box-shadow: 0 0 10px #777
}

div.edit-post{
  color: #114932;
  font-size: 30px;
  font-weight: 700;
}

.postEditText{
  font-size: 1rem;
  width: 20rem;
  height: 3rem;
  padding: 0 0.3rem;
  border: none;
}

.postEditText:focus{
  border: none;
  background-color: #2d6a4f;
  color: #fff;

}

div.edit-button{
  padding: 0.5rem;
}

.update-btn,
.cancel-btn{
  margin: 0 0.4rem;
}


.post-profile-img{
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

.set-profile-img{
  width: 100%;
}

/* Media quries Home Page */

@media only screen and (min-width: 800px) and (max-width: 1050px){
  .post-area{
    font-size: 1.3rem;  /**/
  }
  .post-footer .btn{
    color: #59626B !important;
    padding: 0.2rem 1rem;  /**/
    margin: 0 0.3rem; /**/  
  }
  .take-img{
    width: 80%;
  }
  .allpost-date{
    font-size: 1.3rem;
  }
  .allpost-footer .allpost-btn{
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 501px) and (max-width: 799px){
  .form-card{
    display: flex;
  }
  
  .post-create{
    /* padding: 1rem 1.5rem; */
    width: 60%;
    background-color: #fff;
  }

  .post-main{
    margin-top: 0.5rem;
    padding: 1rem 1.5rem;
    width: 60%;
    background-color: #b7e4c7;
  }

  .post-area{
    font-size: 1.3rem;
  }

  .post-footer .btn{
    color: #59626B !important;
    padding: 0.2rem 1rem;  
    margin: 0 0.3rem;   
  }

  .take-img{
    width: 80%;
  }

  .post-date{
    font-size: 0.9rem;
  }

  .allpost-date{
    font-size: 1.1rem;
  }

  .allpost-footer .allpost-btn{
    padding: 0.6rem 0.5rem;
    font-size: 0.7rem;
}

  .home-page-header{
    display: flex;
    /* justify-content: center; */
}

div.nav-first-child{
    display: flex;
    justify-content: center;
    /* background-color: #b7e4c7; */
    /* border: 2px solid red; */
    /* padding: 0 0.5rem; */
    /* align-items: center; */
    width: 60%;
}
div.nav-second-child{
    display: flex;
    justify-content: center;
    /* background-color: #b7e4c7; */
    /* border: 2px solid blue; */
    /* padding: 0 0.5rem; */
    /* align-items: center; */
    width: 60%;
}
.editBtn,
.deleteBtn{
    width: 30%;
}
div.all-post{ 
  font-size: 1rem;
}

}

@media only screen and (max-width: 500px){
  .form-card{
    display: flex;
  }
  
  .post-create{
    /* padding: 1rem 1.5rem; */
    width: 100%;
    background-color: #fff;
  }

  .post-main{
    margin-top: 0.5rem;
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: #b7e4c7;
  }

  /* .post-area{
    font-size: 1.3rem;
  } */

  .post-footer .btn{
    color: #59626B !important;
    padding: 0.2rem 1rem;  
    margin: 0 0.3rem;   
  }

  .take-img{
    width: 80%;
  }

  .post-date{
    font-size: 0.8rem;
  }

  .allpost-date{
    font-size: 1.1rem;
  }

  .allpost-footer .allpost-btn{
    padding: 0.6rem 0.5rem;
    font-size: 0.7rem;
}

  .home-page-header{
    display: flex;
    /* justify-content: center; */
}

div.nav-first-child{
    display: flex;
    justify-content: center;
    /* background-color: #b7e4c7; */
    /* border: 2px solid red; */
    /* padding: 0 0.5rem; */
    /* align-items: center; */
    width: 100%;
}
div.nav-second-child{
    display: flex;
    justify-content: center;
    /* background-color: #b7e4c7; */
    /* border: 2px solid blue; */
    /* padding: 0 0.5rem; */
    /* align-items: center; */
    width: 100%;
}
.editBtn,
.deleteBtn{
    width: 40%;
}
div.all-post{ 
  font-size: 1rem;
}

}
